body {
    background-color: aqua;
    color: black;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.background-image {
    background-image: url(Skateboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: violet;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-columns: 100px 4;
    -moz-columns: 100px 4;
    columns: 100px 4;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-column-rule: 1px solid #1a242f;
    -moz-column-rule: 1px solid #1a242f;
    column-rule: 1px solid #1a242f;
}

nav a {
    text-decoration: wavy;
    color: black;
    display: block;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid black;
}
nav a:hover {
    background: rgb(158, 82, 230);
}

.logo {
    display: block;
    flex-wrap: wrap;
    padding: 1em;
}

p {
    background-image: url(Laser.gif);
    background-repeat: no-repeat;
    background-size: 500px 750px;
    margin: auto;
    width: 85%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
